body {
    margin: 40px;
    background-image: url(img/background.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: #171219;
}


/*Layouts*/

.main-section {
    height: 700px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
}

.avatar-section {
    display: flex;
}

.image-logo-section {
    width: 40%;
    height: 660px;
    background-color: #61B1E6;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo-section-text {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.register-section {
    display: flex;
    flex-direction: column;
    height: 620px;
    width: 50%;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 40px;
}

.name-and-mail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 10px;
}

.input-form {
    width: 250px;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid lightgray;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
}

.users-interval-fieldset {
    width: 50%;
    border: lightgray solid 2px;
}

.image-radio-input {
    display: none;
}

input[type="radio"]:checked+label {
    height: 90%;
    display: flex;
    border-radius: 200px;
    border: 2px #D88C9A solid;
}

.password-section {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.avatar-fieldset {
    margin-bottom: 50px;
}

.fieldset-section {
    margin-bottom: 30px;
}


/*Typho*/

.logo-text {
    font-family: 'Tilt Warp', cursive;
    font-size: 2.5em;
    margin: 0;
}

.image-section-text {
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.title-section {
    width: 100%;
    font-weight: 700;
    font-size: 1.7rem;
    margin: 0;
    margin-top: 20px;
}

i {
    font-size: 1.2rem;
    color: #171219;
}

.interval-options {
    font-size: 1.3rem;
}

.users-interval-fieldset legend {
    font-weight: 600;
    padding: 0 15px 5px 15px;
}

h1 {
    text-align: left;
}


/*Images*/

.side-picture {
    width: 60%;
    margin: 0 auto;
}

.logo-small {
    width: 60px;
    height: 60px;
}

.avatar {
    width: 100px;
    height: 100px;
}


/*Buttons*/

.blue-button {
    background-image: linear-gradient(90deg, #145DA0, #61B1E6);
    width: 200px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 200px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    margin: 0 auto;
}


/*Responsive*/

@media (max-width: 1210px) {
    .register-section {
        align-items: center;
    }
    .name-and-mail {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .users-interval-fieldset {
        width: 200px;
    }
    .password-section {
        flex-direction: column;
        width: 300px;
    }
}

@media (max-width: 900px) {
    body {
        width: 85%;
    }
    .register-section {
        align-items: center;
        height: 900px;
    }
    .main-section {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .image-logo-section {
        width: 95%;
        border-radius: 10px 10px 0 0;
        height: 200px;
    }
    .image-section-text {
        font-size: 1rem;
    }
    .side-picture {
        display: none;
    }
    .logo-section-text {
        margin: 0 auto;
        padding: 0;
        height: 50px;
    }
    .name-and-mail i {
        margin-bottom: 0;
    }
    .name-and-mail {
        width: 300px;
    }
    .password-section {
        flex-direction: column;
        width: 300px;
    }
    .users-interval-fieldset {
        width: 400px;
    }
}